@charset "UTF-8";

@font-face {
    font-family: pixel;
    src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
    font-family: comfortaa;
    src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: amatic;
    src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
}
@font-face {
    font-family: titulo;
    src: url("../fonts/Advent_Pro/AdventPro-VariableFont_wdth\,wght.ttf") format("truetype");
}

/* Variáveis */
:root {
    --fonte-titulo: titulo, display, sans-serif;
    --fonte-destaque: amatic, display;
    --fonte-destaque2: comfortaa, display;
    --fonte-texto: roboto, verdana, sans-serif;
    --fonte-pixel: pixel, display;
}

/* Fundo gradiente para o cabeçalho em TELAS PEQUENAS */
@media screen and (max-width: 720px) {
    header {
        background-image: linear-gradient(to top, rgb(0, 211, 211), rgb(0, 121, 121), rgb(0, 65, 65), rgb(0, 38, 38));
    }
}

@media screen and (min-width: 720px) {

    body {
        background-color: rgba(190, 255, 255, 0.829);
    }

    /* -------------------------------------------------------- */
    header {
        background-color: darkcyan;
    }

    header h1 {
        font-size: 3em;
    }

    header li {
        display: inline-block;
    }
    
    header a {
        font-family: var(--fonte-texto);
    }

    #menu {
        display: none;
    }

    #itens {
        display: inline-block;
    }

    /* -------------------------------------------------------- */

    main {
        padding: 10px;
        border-radius: 0 0 6px 6px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.234);
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 720px) and (max-width: 992px) {
    main {
        max-width: 85vw;
    }
}

@media screen and (min-width: 992px) {
    main {
        max-width: 80vw;
        transition: max-width 0.3s ease-in-out;
    }
}